html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  list-style-type: none;
}

/*Team Tofu CSS*/

.contact {

}

.robot {

}

.comment {

}

/* End Team Tofu CSS*/

header {
  color: #FFE636;
  background: #006600;
  font-family: "Libre Baskerville";
  text-align: center;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 32pt;
}

nav {
  margin: 20px auto;
  text-align: center;
}

nav a {
  text-align: center;
  font-weight: bold;
  background-color: #006600;
  color: #FFE636;
  padding: 8px 8px 8px 8px;
  border-radius: 5px;
  display: inline;
}

nav a:hover {
  background-color: #FFE636;
  color: #006600;
}

iframe {
  display: block;
  margin: 20px auto;
}

article {
  width: 800px;
  margin: auto;
  font-size: 16pt;
}

p {
  margin: 20px auto;
  font-family: "Helvetica Neue";
  font-size: 14pt;
}

.link {
  text-decoration: none;

}

footer {
  text-align: center;
  margin: 20px auto;
}
